<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <contextName>ybwx-web-appointment</contextName>
    <substitutionProperty name="log.base" value="/opt/logs/ybwx-eureka-server/ybwx-eureka-server"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>[%d{yy-MM-dd HH:mm:ss.SSS}] [%thread] %-5level %logger - %msg%n</pattern>
        </layout>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.base}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{yy-MM-dd HH:mm:ss.SSS}] [%thread] %-5level %logger - %msg%n</pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>
    <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
        <syslogHost>127.0.0.1</syslogHost>
        <facility>LOCAL5</facility>
        <suffixPattern>web-appointment %logger %msg</suffixPattern>
        <stackTracePattern>web-appointment \t</stackTracePattern>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="SYSLOG"/>
    </root>
</configuration>
