package $entityPackage;

#if($table.dataTypeSet)
#foreach($item in $table.dataTypeSet)
import $item;
#end
#end
import com.ybwx.common.mysql.common.BaseEntity;
import lombok.AllArgsConstructor;
import lombok.Data;
import lombok.NoArgsConstructor;

@Data
@NoArgsConstructor
@AllArgsConstructor
public class $entityName extends BaseEntity<$entityName> {

#if($table.columnKey)
    private $table.columnKey.propertyDataType $table.columnKey.propertyName;
#end
#foreach($item in $table.columnList)
    private $item.propertyDataType $item.propertyName;
#end

}
