<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ybwx.multidata.mapper.UserEntityMapper">
    <!--<cache eviction="LRU" type="com.ybwx.common.mysql.cache.MybatisRedisCache"/>-->
    <resultMap id="BaseResultMap" type="com.ybwx.multidata.entity.UserEntity">
        <id column="id" property="id"/>
        <result column="created_time" property="createdTime"/>
        <result column="email" property="email"/>
        <result column="email_valid" property="emailValid"/>
        <result column="mobile" property="mobile"/>
        <result column="mobile_valid" property="mobileValid"/>
        <result column="password" property="password"/>
        <result column="root" property="root"/>
        <result column="salt" property="salt"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="username" property="username"/>
        <result column="valid" property="valid"/>
        <result column="token" property="token"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into a_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
    <if test="id != null">
            `id`,
    </if>
    <if test="createdTime != null">
            `created_time`,
    </if>
    <if test="email != null">
            `email`,
    </if>
    <if test="emailValid != null">
            `email_valid`,
    </if>
    <if test="mobile != null">
            `mobile`,
    </if>
    <if test="mobileValid != null">
            `mobile_valid`,
    </if>
    <if test="password != null">
            `password`,
    </if>
    <if test="root != null">
            `root`,
    </if>
    <if test="salt != null">
            `salt`,
    </if>
    <if test="updatedTime != null">
            `updated_time`,
    </if>
    <if test="username != null">
            `username`,
    </if>
    <if test="valid != null">
            `valid`,
    </if>
    <if test="token != null">
            `token`,
    </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
    <if test="id != null">
            #{id},
    </if>
    <if test="createdTime != null">
            #{createdTime},
    </if>
    <if test="email != null">
            #{email},
    </if>
    <if test="emailValid != null">
            #{emailValid},
    </if>
    <if test="mobile != null">
            #{mobile},
    </if>
    <if test="mobileValid != null">
            #{mobileValid},
    </if>
    <if test="password != null">
            #{password},
    </if>
    <if test="root != null">
            #{root},
    </if>
    <if test="salt != null">
            #{salt},
    </if>
    <if test="updatedTime != null">
            #{updatedTime},
    </if>
    <if test="username != null">
            #{username},
    </if>
    <if test="valid != null">
            #{valid},
    </if>
    <if test="token != null">
            #{token},
    </if>
        </trim>
    </insert>

    <update id="update">
        update a_user
        <set>
            <if test="createdTime != null">
                `created_time`=#{createdTime},
            </if>
            <if test="email != null">
                `email`=#{email},
            </if>
            <if test="emailValid != null">
                `email_valid`=#{emailValid},
            </if>
            <if test="mobile != null">
                `mobile`=#{mobile},
            </if>
            <if test="mobileValid != null">
                `mobile_valid`=#{mobileValid},
            </if>
            <if test="password != null">
                `password`=#{password},
            </if>
            <if test="root != null">
                `root`=#{root},
            </if>
            <if test="salt != null">
                `salt`=#{salt},
            </if>
            <if test="updatedTime != null">
                `updated_time`=#{updatedTime},
            </if>
            <if test="username != null">
                `username`=#{username},
            </if>
            <if test="valid != null">
                `valid`=#{valid},
            </if>
            <if test="token != null">
                `token`=#{token},
            </if>
        </set>
        where `id`=#{id}
    </update>

    <select id="selectList" resultMap="BaseResultMap">
        <include refid="findList"/>
    </select>
    <sql id="findList">
        select
        *
        from a_user
        <where>
            <if test="id != null">
                and `id`=#{id}
            </if>
            <if test="idCollection  != null">
                and `id` in
                <foreach collection="idCollection" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
            <if test="username != null">
                and `username`=#{username}
            </if>
        </where>
        ORDER by id desc
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        SELECT
        *
        FROM a_user
        where `id`=#{id}
    </select>

</mapper>